<!DOCTYPE html>
<html ng-app="app" lang="en" ng-cloak>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/lib/angularjs-material.css' />
    <link rel='stylesheet' href='/css/lib/md-data-table.css' />
    <link rel='stylesheet' href='/css/style.css' />

    <script src="/js/lib/angularjs.js"></script>
    <script src="/js/lib/angularjs-animate.js"></script>
    <script src="/js/lib/angularjs-aria.js"></script>
    <script src="/js/lib/angularjs-messages.js"></script>

    <script src="/js/lib/moment.js"></script>
    <script src="/js/lib/angularjs-material.js"></script>
    <script src="/js/lib/md-data-table.js"></script>

    <script src="/js/app/app.js"></script>
    <script src="/js/app/service/CrudHttpService.js"></script>
    <script src="/js/app/service/DataService.js"></script>
    <script src="/js/app/controller/LoadDataController.js"></script>

</head>
<body ng-controller="LoadDataController as dataCtrl" ng-init="dataCtrl.init();">
<div id="header">
    <h3><%= title %></h3>
</div>

<div id="chart-container" class="md-padding" layout="column">

    <md-content class="">
        <md-nav-bar
                md-selected-nav-item="currentNavItem"
                nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="dataCtrl.goto('Publishers')" name="page1">
                Publishers
            </md-nav-item>
            <md-nav-item md-nav-click="dataCtrl.goto('Brands')" name="page2">
                Brands
            </md-nav-item>
            <md-nav-item md-nav-click="dataCtrl.goto('Categories')" name="page3">
                Categories
            </md-nav-item>
        </md-nav-bar>
        <div class="ext-content">
            External content for {{ dataCtrl.gotoStr }}
        </div>
    </md-content>

    <!--<div flex-gt-sm="70" flex class="md-padding">-->
    <!--This is some stuff-->
    <!--</div>-->

    <!--<div id="alert-column" flex-gt-sm="30" flex class="md-padding">-->
    <!--<div id="alert-header">-->
    <!--<h5 class="text-center">Alerts</h5>-->
    <!--</div>-->
    <!--</div>-->
</div>

<div id="chart-container" class="md-padding" layout="row">
    <div flex="15" flex class="md-padding"></div>

    <div flex="70" flex class="md-padding">
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span>Nutrition</span>
            </div>
        </md-toolbar>

        <!-- exact table from live demo -->
        <md-table-container>
            <table md-table md-row-select multiple ng-model="dataCtrl.selected" md-progress="dataCtrl.showProgress">
                <thead md-head>
                <tr md-row>
                    <th md-column ><span>Publisher</span></th>
                    <th md-column><span>Name</span></th>
                    <th md-column md-numeric>Fat (g)</th>
                    <th md-column md-numeric>Carbs (g)</th>
                    <th md-column md-numeric>Protein (g)</th>
                    <th md-column md-numeric>Sodium (mg)</th>
                    <th md-column md-numeric>Calcium (%)</th>
                    <th md-column md-numeric>Iron (%)</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in desserts.data">
                    <td md-cell>{{dessert.name}}</td>
                    <td md-cell>{{dessert.calories.value}}</td>
                    <td md-cell>{{dessert.fat.value | number: 1}}</td>
                    <td md-cell>{{dessert.carbs.value}}</td>
                    <td md-cell>{{dessert.protein.value | number: 1}}</td>
                    <td md-cell>{{dessert.sodium.value}}</td>
                    <td md-cell>{{dessert.calcium.value}}{{dessert.calcium.unit}}</td>
                    <td md-cell>{{dessert.iron.value}}{{dessert.iron.unit}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
    </div>

    <div flex="15" flex class="md-padding"></div>
</div>

</body>
</html>
